/* Thinnify type in Safari */
body { -webkit-text-stroke:1px transparent; }
@media only screen and (max-device-width:480px) {body{-webkit-text-stroke:0 black;}}
 
html,
body {
    /* background: #ef8dbb; */
    background: #dcbf89;
    color: #141414;
    font: normal 14px/20px Helvetica, Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header, hgroup, article { display: block; }
a:link,
a:visited {
    color: #941350;
    font-weight: bold;
}
a:visited {
    color: #666;
}
a:focus,
a:hover {
    color: #e33a89;
    text-decoration: none;
}
img {
    vertical-align: bottom;
}
#title {
    background: #6699cc;
    border: 2px outset #666;
    margin: 20px auto 10px;
    padding: 40px 40px 20px;
    text-align: left;
    width: 500px;
}
article {
    /* background: #fafafa; */
    background: #efdebf;
    border: 2px outset #666;
    margin: 20px auto 10px;
    padding: 40px 40px 20px;
    text-align: left;
    width: 500px;
}
article header+p {
    margin: 20px 0;
}
article header+p:first-line {
    font-weight: bold;
    font-variant: small-caps;
}
h1 {
    /* color: #e33a89; */
    color: #003366;
    font: 27/27px Baskerville, Palatino, Palatino Linotype, Book Antiqua, Georgia, serif;
    margin: 0;
    text-shadow: #aaa 5px 5px 5px;
}
h2 {
    /* color: #e33a89; */
    color: #003366;
    font: 18px/18px Baskerville, Palatino, Palatino Linotype, Book Antiqua, Georgia, serif;
    margin: 10px 0;
}
h2+p {
    margin: 0;
}
ol {
    font-size: 12px;
    line-height: 18px;
    /* list-style: none; */
    margin: 0;
    padding: 0;
}
p.download {
    font-size: 12px;
}
footer {
    font-size: 11px;
    font-style: oblique;
}
footer a {
    font-style: normal;
}
.borderradius #title {
    border: 1px solid #141414;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.boxshadow #title {
    border: none;
    -webkit-box-shadow: rgba(0,0,0, .5) 3px 3px 6px;
    -moz-box-shadow: rgba(0,0,0, .5) 3px 3px 6px;
    box-shadow: rgba(0,0,0, .5) 3px 3px 6px;
}
.borderradius article {
    border: 1px solid #141414;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.boxshadow article {
    border: none;
    -webkit-box-shadow: rgba(0,0,0, .5) 3px 3px 6px;
    -moz-box-shadow: rgba(0,0,0, .5) 3px 3px 6px;
    box-shadow: rgba(0,0,0, .5) 3px 3px 6px;
}
@font-face {
    src:
    url('/slkscr-webfont.eot') format('embedded-opentype'),
    url('/slkscr-webfont.ttf') format('truetype');
    font-family: "Silkscreen";
}
.fontface h1 {
    font: 42px/50px Silkscreen;
    margin: 0;
    text-shadow: none;
}
.fontface h2 {
    font: 28px/32px Silkscreen;
    margin: 0;
    text-shadow: none;
}
.fontface h2+p {
    font: 16px/18px Silkscreen;
    margin: 0;
}
